body {
  background-color: var(--primary);
  color: var(--text);
  margin: 0;
  /* taken from stack overflow post see readme*/
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.NavBar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--m) var(--xxl);
}

.NavBar-title {
  color: var(--text);
  text-decoration: none;
  font-weight: 600;
  font-size: 25px;
  opacity: 1;
}

.NavBar-linkContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.NavBar-center {
  margin-left: var(--xxl);
  text-decoration: none;
  color: var(--text);
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.NavBar-profile {
  text-decoration: none;
  color: var(--text);
  font-size: 20px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.NavBar-center:hover {
  opacity: 0.6;
}

.NavBar-profile:hover {
  opacity: 0.6;
}

.NavBar-profileContainer {
  margin-left: auto;
}

.NavBar-authContainer {
  margin-left: var(--xxl);
  display: flex;
  align-items: center;
}

.NavBar-googleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavBar-logoutText {
  all: unset;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: white;
  font-size: 20px;

  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.NavBar-logoutText:hover {
  opacity: 0.6;
}
