.songcard-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.songcard-content {
  position: relative;
  background: rgba(20, 20, 20, 0.95);
  padding: 30px;
  border-radius: 15px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  max-height: 80vh;
}

.song-card-album-container {
  width: 100%;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(222, 224, 225, 0.5);
  margin-bottom: 20px;
}

.song-info {
  text-align: center;
  color: #fff;
  font-family: "Orbitron", sans-serif;
}

.song-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(0, 170, 255, 0.75);
}

.artist-name,
.album-details {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 5px;
}

.play-button {
  background: linear-gradient(45deg, #ffffff, #0d0d0d);
  color: #000;
  border: none;
  border-radius: 50px;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Orbitron", sans-serif;
  box-shadow: 0 0 10px rgba(244, 244, 244, 0.5);
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.play-button:hover {
  box-shadow: 0 0 20px rgba(223, 224, 224, 0.75);
  transform: scale(1.05);
}

.back-button {
  position: absolute;
  top: 10%;
  left: 10%;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.back-button:hover {
  color: #949494;
}

/* Next button positioned next to the overlay */
.next-button {
  position: absolute;
  top: 50%;
  right: 10%; /* Adjusted to be right next to the overlay */
  background: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #000;
  font-family: "Orbitron", sans-serif;
  box-shadow: 0 0 15px rgba(244, 244, 244, 0.5);
  transition: all 0.3s ease-in-out;
}

.next-button:hover {
  background: #dcdcdc;
}

.spotify-link {
  display: inline-block;
  background-color: #1db954;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.spotify-link:hover {
  background-color: #1ed760;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.query-display {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 15px;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
}
